/* -------------------- starting page --------------------- */
.top-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#quiz-overview {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

#quiz-overview p {
    padding: 15px;
}

#start {
    padding: 5px;
}

/* ---------------------- question 1 --------------------- */
/* #question-1 h1{
    display: flex;
    justify-content: center;
}

#answers-1{
    display: flex;
    justify-content: center;
    padding-right: 150px;
} */