/* -------------------- starting page --------------------- */
.top-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.quiz-overview {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.quiz-overview p {
    padding: 15px;
}

#start {
    padding: 5px;
}

/* ---------------------- score page --------------------- */
.score-display{
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.hide {
    display: none;
}